{% extends "layout.html" %}

{% block content %}

<div class = "title2">
    <div>Time to Put Your New Skill to the Test
    </div>
</div>
<div class="row startQ">
    <div class = 'col-md-3'></div>
    <div class="col-md-6">
        <div class = 'card stat'>
            <img class="card-img-top" src='https://img.freepik.com/free-vector/quiz-neon-sign_1262-19629.jpg?h=2500' alt='Quiz logo'>
            <a id = "quiz" href="/quiz/1" class="btn card1" style="position: static" >Quiz Yourself</a>
        </div>
    <div class = 'col-md-3'></div>
    </div>
    
</div>


{% endblock %}

