{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script>
    
    lesson = {{lesson|tojson}}
    lesson_id = {{lesson_id|tojson}}
</script>

<b>Learn page template for ASL Academy!</b>
<div>
    Lesson {{lesson_id}}!
</div>
<!--
<div class="row">
    <div class="col-md-4">
        {{lesson.videos.1.text}}
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.videos.1.video}} type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-md-4">
        {{lesson.videos.1.text}}
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.videos.1.video}} type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
    <div class="col-md-4">
        {{lesson.videos.1.text}}
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.videos.1.video}} type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
</div>
-->

<div class="row" id = "lesson-video">

</div>
<div class="row">
    <button id = "last-video" class="next_button">
        Last Video
    </button>
    <button id = "next-video"class="next_button">
        Next Video
    </button>
</div>
<div>
    <button id="next-lesson" class="next_button">
        Start practicing
    </button>
</div>

{% endblock %}

