{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script>
    
    lesson = {{lesson|tojson}}
    lesson_id = {{lesson_id|tojson}}
</script>
<!--
<div class="row">
    <div class="col-md-4">
        {{lesson.videos.1.text}}
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.videos.1.video}} type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-md-4">
        {{lesson.videos.1.text}}
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.videos.1.video}} type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
    <div class="col-md-4">
        {{lesson.videos.1.text}}
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.videos.1.video}} type="video/mp4">
            Your browser does not support the video tag.
        </video> 
    </div>
</div>
-->

<div class="row">
    <div class = 'col-md-3'></div>
    <div id = "lesson-title" class = 'col-md-6'></div>
    <div class = 'col-md-3'></div>
</div>
<div class="row">
    <div class = 'col-md-3'></div>
    <div id = "lesson-video" class = 'col-md-6'></div>
    <div class = 'col-md-3'></div>
</div>
<div class="row">
    <div class = 'col-md-3'>
        <button id = "last-video" class="next_button btn">
            Last Video
        </button>
    </div>   
    <div class = 'col-md-6'></div> 
    <div class = 'col-md-3'>
        <div class="row">
            <button id = "next-video" class="next_button btn">
                Next Video
            </button>
        </div>
        <div class="row">
            <button id="practice" class="next_button btn">
                Start Practice
            </button>
        </div>
    </div>
</div>

{% endblock %}

