

{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'practice.js') }}"></script>
<script>
    lesson = {{lesson|tojson}};
    lesson_id = {{lesson_id|tojson}};
</script>

<div class="row">
    <div class = 'col-md-2'></div>
    <div class = 'col-md-8'>
        <h1 id="lesson-title">Practice for lesson {{lesson_id}}</h1>
    </div>
    <div class = 'col-md-2'></div>
</div>

<div class="row">
    <div class = 'col-md-2'></div>
    <div id = "practice-video" class = 'col-md-8'></div>
    <div class = 'col-md-3'></div>
</div>

<div class="row">
    <div class = 'col-md-2'>
        <button id = "back" class="last_button button btn">
            Back to Lesson {{lesson_id}} 
        </button>
    </div>
    <div class = 'col-md-8'>  
        <div id = "ans" class="instructions">
            <div class = "instructions">
                Please type your answer below:
            </div>
            <div>
                <textarea id = "answer" ></textarea>
            </div>
            <div>

                    <button class = "ans_button check btn">
                        submit
                    </button>
                    

                    <button class="ans_button again btn ">
                        Practice More
                    </button>
                <br>
            </div>
            <div>
                <div id = "feedback">
                        
                </div>
            </div>
        </div>
        </div>
    <div class = 'col-md-2'>
        <button class="next_button next btn">
            Next
        </button>
    </div>
</div>


{% endblock %}

