

{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'practice.js') }}"></script>
<script>
    lesson = {{lesson|tojson}};
    lesson_id = {{lesson_id|tojson}};
</script>

<h1>Practice for lesson {{lesson_id}}</h1>
<div class="row">
    <div class="col-md-12">
        <video width="320" height="240" autoplay loop>
            <source src={{lesson.video_3.video}} type="video/mp4">
        </video>

    </div>
</div>
<div class="row">
    Please type your answer below:
    
</div>
<div class="row">
    <textarea></textarea>
</div>
<div class="row">
    <button class = "check">
        submit
    </button>
</div>

<div>
    <button class="next">
        Next
    </button>
</div>

{% endblock %}

