{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    question = {{question|tojson}};
    question_id = {{question_id|tojson}};
    score = {{score|tojson}};
    console.log(question);
</script>

<h1>Quiz page template for ASL Academy!</h1>
<div>
    Question {{question_id}}/6!
    <br>
    Score: {{score}}
</div>
<div class="row">
    <div class="col-md-12">
        <video width="320" height="240" autoplay loop>
            <source src={{question.video_1.video}} type="video/mp4">
        </video><br>
        {{question.instructions}}<br>
        <textarea id="answer"></textarea>
    </div>
</div>
<button class="next_button">
    Next Question
</button>

{% endblock %}

