{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    question = {{question|tojson}};
    question_id = {{question_id|tojson}};
    question_type = {{question_type|tojson}};
    score = {{score|tojson}};
    console.log(question);
</script>

<h1>Quiz</h1>
<div id="quiz_progress">
    Question {{question_id}}/6 <br>
    Score: {{score}}
</div>
<div class="row">
    <div class="col-md-12">
        <video width="320" height="240" autoplay loop>
            <source src={{question.video_1.video}} type="video/mp4">
        </video><br>
        {{question.instructions}}<br>
        <textarea id="answer"></textarea>
    </div>
</div>
<div id="feedback"></div>
<div id="buttons">
    <button id="submit">Submit</button>
</div>
{% endblock %}

